/**************************************************************

***************************************************************/
@use "../global/" as *;

.l-btn-progress{
  position: fixed;
  bottom: rem(100);
  right: rem(30);
  // z-index: 400;
}