/**************************************************************

***************************************************************/
@use "../global/" as *;




.l-btn-backToTop{
  position: fixed;
  bottom: rem(200);
  right: rem(30);
  // z-index: 400;
}