/**************************************************************

***************************************************************/

.l-contact{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(222, 143, 53);
}