---
// contact.astro

import Layout from "../../layouts/Layout.astro"

const title = "Contact";
const color = "blue";
---


<Layout 
  title={ title }
  color={ color }
>
  <h1 style=`color: ${ color }`>Contact</h1>
</Layout>