/**************************************************************
p-drawer
***************************************************************/
.p-drawer{
  width: 100%;
  height: 100vh;
  background: #ade61e;
  transform: translateX(100%);
  transition: transform .3s;
}

.p-drawer.is-slide{
  transform: none;
}
