/**************************************************************l
p-hero
***************************************************************/
.p-hero{
  width: 100%;
  height: 100vh;
}

.p-hero > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
