/**************************************************************
p-works
***************************************************************/
@use "../global" as *;

.p-works{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-works__title{
  line-height: 1;
  opacity: 0;
}

.p-works__title.inview{
  opacity: 1;
}

.p-works__title .char{
  display: inline-block;
  opacity: 0;
}

.p-works__title.inview .char{
  @include animation(
    $name: accordion,
    $duration: .5s,
    $timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),
    $fill-mode: both,
    // both ... アニメーション開始時はkeyframesの終了。終わりはforwards
  );

  @for $i from 1 through 30{
    &:nth-child(#{$i}){
      animation-delay: $i * 0.04s;
    }
  }
}
