---
// ナビゲーション
// ⭐️このフロントマターはデフォルトではサーバー側で実行される
// import { setActiveNavItem } from "src/utils/navigation.js";
// → ここでimportしてもクライアントではジックされない
//   scriptタグでimportして使う →　SSRと分離して使うことができるため

const navs = [
  {
    href: "/",
    label: "Home",
  },
  {
    href: "/about",
    label: "About",
  },
  {
    href: "/contact",
    label: "Contact",
  },
  {
    href: "/blogs",
    label: "Blogs",
  },

]

// activeな要素だけスタイルを変える
const active = "/about";


---

<header class="header">
  <div class="header__inner">
    <h1>astro</h1>
    <nav>
      <ul class="items">
        {
          // この{}はastro独自の{}。JSXと同じ
          // 星Astro(や React)は、JSX内で{}の中に配列が入ると、その中の各要素を自動的に展開してHTMLにする仕組みになっている
          navs.map(nav => (
            // ⭐️class:list →  動的にクラスを追加するための特殊な構文
            //                 
            <li 
              class="item" 
              // class:list={[[nav.href === active && "is-active"]]}
            >
              <a href={ nav.href }>{ nav.label }</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  .header{
    height: 60px;
  }

  .header__inner{
    padding-left: 20px;
    padding-right: 20px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .items{
    display: flex;
    align-items: center;
  }

  .item:not(:last-child){
    margin-right: 10px;
  }

  .item > a.is-active{
    opacity: .5;
  }
</style>

<!-- 
  script →　デフォルトではサーバーサイドで実行される
            is:inlineをつけるとクライアント側で実行される
            ⭐️ client:load → これはコンポーネントで使う
-->

<script is:inline>
  // → フロントマターではSSR、このscriptではCSR。
  import("/src/utils/navigation.js").then(({ setActiveNavItem }) => {
    setActiveNavItem();
  });

</script>