---
// ブログ詳細ページ
import Layout from 'src/layouts/Layout.astro';

import { getBlogs, getBlogDetail } from 'src/utils/api';

export async function getStaticPaths(){

  const response = await getBlogs({ fields: [ "id" ] }); // idのみを絞る
  // console.log(response);

  // この配列を生成して返す
  // ⭐️ ここではこのidのページを生成しますよという意味
  // [{ params: { blogId: content.id }}, { params: { blogId: content.id }}, ...]
  return response.contents.map((content: any) => {
    return { params: { blogId: content.id }}
  });
}

const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string); // ここで詳細ページを全部入りで取得
// console.log(blog)

---

<Layout>
  <main>
    <h1>{ blog.title }</h1>
    <p class="publishedAt">{ blog.publishedAt }</p>
    <div class="post">
      { blog.content }
    </div>
  </main>
</Layout>